body 
  margin: 0


.background-cell 
  background-image: url(./images/Cell.svg)


.round-gray-border
  border: gray solid 3px
  border-radius: 30px
  
.tool-button
  &:hover
    background-color: #00000034